pre	{background-image:url(bilder/PAPER4.GIF);}
h1	{background-image:url(bilder/PRSK-GD.GIF);}

.Einleitung	{background-image:url(bilder/PAPER4.GIF);}
.Aufgabe	{background-image:url(bilder/PAPER4.GIF);}
